.container {
    width: 100%;
    background-color: #eee;
    position: relative;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    max-height: 750px;
    min-height: 750px;
    /* grid-template-areas: 
        "title title lts lts creator"
        "title title clt clt creator"
        "head head info info info"
        "head head info info info"; */
    position: relative;
    color: black;
    max-width: 1200px;
}
.grid > div {
    padding: 8px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.title h1 {
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 2px;
}
.title h1 span {
    font-weight: 900;
    letter-spacing: 2px;
}
.title p .inset {
    display: inline-block;
    /* min-width: 30px; */
    height: 100%;
}
.title p {
    font-size: 18px;
    display: flex;
    width: 90%;
}

.action {
    padding: 6px 16px;
    background: var(--background-100);
    border: none;
    width: fit-content;
    font-size: 18px;
    border-radius: 4px;
    color: #eee;
}

/* LTS */

.lts section {
    border-radius: 12px;
    border: 2px solid var(--background-800);
    height: 100%;
    width: 100%;
    padding: 12px;
    padding-left: 40px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.lts .action {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

/* Creator */

.grid div {
    position: relative;
    display: flex;
}
.grid div section {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 12px;
}

.info img {
    filter: blur(20px);
    scale: 1.1;
}




.title {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 5;
}
.lts {
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 3;
}
.creator {
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 5;
}
.clt {
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 5;
}
.head {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 12;
}
.info {
    grid-column-start: 6;
    grid-column-end: 13;
    grid-row-start: 5;
    grid-row-end: 12;
}



/* DIFFERENT SIZES */


@media only screen and (max-width: 900px) {
    .title {
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .lts {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 4;
        grid-row-end: 6;
    }
    .clt {
        grid-column-start: 7;
        grid-column-end: 13;
        grid-row-start: 4;
        grid-row-end: 6;
    }
    .head {
        display: none !important;
    }
    .info {
        grid-column-start: 5;
        grid-column-end: 13;
        grid-row-start: 6;
        grid-row-end: 13;
    }
    .creator {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 13;
    }

}


@media only screen and (max-width: 600px) {
    .grid {
        display: flex;
        flex-direction: column;
        max-height: 1200px !important;
        min-height: 1200px !important;
    }
    .clt {
        width: 100%;
        height: 150px;
    }
    .head {
        left: 0;
        right: 0;
        top: 0;
        height: 200px;
        position: absolute !important;
        position: -webkit-sticky;
        padding: 0 !important;
    }
    .head section {
        border-radius: 0;
        overflow: hidden;
        border-radius: 100px;
        opacity: .2;
        filter: blur(100px);
        z-index: 0;
    }
    .info {
        height: 400px;
    }
    .creator {
        display: none !important;
    }
}