.hero {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 12fr 6fr;
    height: 400px;
    width: 100%;
    position: relative;
    gap: 64px;
    margin-bottom: 48px;
}
.hero .info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    border-radius: 16px;
}
.hero img {
    border-radius: 16px;
}
.hero h1 {
    line-height: 1.6;
    width: 100%;
    margin-bottom: .5em;
}
.hero .conclusion {
    font-size: 18px;
    color: #ccc;
}
.hero .background {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: var(--background-100);
}
.hero .background img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 8px;
    height: 100%;
}
.hero .background video {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.blogs {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row dense;
    gap: 32px;
    max-width: 1200px;
    width: 100%;
    min-width: 100%;
    
}
.divider {
    display: flex;
    width: 100%;
    height: 2px; /* adjust height as needed */
    margin-bottom: 16px;
    background: linear-gradient(to right, transparent, var(--secondary-600), var(--primary-500), transparent); /* adjust colors and opacity */
  }
.title {
    color: var(--text-900);
    font-size: 18px;
}
.description {
    color: var(--text-300);
}
.date {
    font-weight: 700;
    color: var(--background-400);
    margin: 0;
}
.header {
    width: 100%;
    display: flex;
    padding: 16px 0px;
}
.header button {
    margin-left: auto;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 16px;
    padding: 6px 20px;
    position: relative;
    border: 1px solid var(--background-200);
}
.header h3 {
    font-size: 40px;
    background: -webkit-linear-gradient(0deg, var(--secondary-600), var(--primary-500));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

  .container h2 {
    align-items: flex-start;
    color: var(--background-500);
    width: 100%;
    max-width: 1200px;
    font-size: 16px;
  }
  @media only screen and (max-width: 600px) {
      .grid {
          grid-template-columns: 1fr;
          max-width: 400px;
      }
  }
@media only screen and (max-width: 900px) {
    .hero {
        display: flex;
        flex-direction: column;
        height: unset;
    }
    .hero .info {
        height: auto;
    }
    .hero .background {
        height: 400px;
    }
    .hero {
        max-width: 600px;
    }
}


@media only screen and (min-width: 1300px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .hero {
        max-width: 1200px;
    }
}
