.container {
    --primary: hsla(270, 100%, 54%, 1);
    --primary-light: hsla(259, 99%, 73%, 1);
    --primary-dark: hsl(259, 100%, 50%);
    --light: hsla(207, 92%, 86%, 1);
    --tan: hsla(28, 44%, 68%, 1);
    --dark-secondary: hsla(37, 72%, 60%, 1);
    --secondary: hsla(51, 100%, 54%, 1);

    --midnight: #10111a;
    --midnight-background: #0c0d14;
    --midnight-highlight: #2b2a31;

    --nav-height: 80px;
    display: grid;
    max-width: 100vw;
}
.container img {
    object-fit: cover;
}
.container br {
    margin-block: 8px;
}
.logo {
    background-color: var(--header-text);
    border-radius: 50%;
    padding: 2px;
    object-position: center;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main {
    display: flex;
    z-index: 1;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: var(--midnight-background);
    width: 100%;
    max-width: 100vw;
}
.nav {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 8px;
    z-index: 100;
    /* background-color: var(--header-background); */
    width: 100vw;
    height: var(--nav-height);
    position: fixed;
}
.inactive, .active {
    width: 120px;
    /* border: 2px solid var(--header-subtext); */
    border-radius: 8px;
    transition: 240ms cubic-bezier(.35,.17,.3,.86);
    font-weight: 700;
    font-size: 1.2em;
    display: flex;
    color: var(--header-subtext);
}
.inactive:not(:hover) {
    border-color: transparent;
    color: var(--header-subtext);
}
.active {
    width: 160px;
    /* border: 2px solid var(--header-text); */
    color: var(--header-text);
}

.widget {
    padding: 16px;
    height: 20px;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    transition: 240ms cubic-bezier(.35,.17,.3,.86);
    color: var(--header-background);
    background-color: var(--header-primary);
    font-weight: 700;
    font-size: 1em;
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--midnight);
    padding: 16px;
}
.footer .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.footer .grid section {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

@media only screen and (max-width: 700px) {
    .nav {
        background-color: var(--header-background);
    }
    .inactive {
        display: none;
    }
    .active {
        border: none;
    }
}