.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--midnight-background);
    padding: 2rem;
}
.hero {
    min-height: 40vh;
    width: 100%;
    display: grid;
    gap: 32px;
    grid-template-columns: 2fr 5fr;
    max-width: 1200px;
    margin-inline: auto;
}
.details {
    display: flex;
    gap: 8px;
    padding: 16px;
    flex-direction: column;
    border: 2px solid var(--midnight);
    border-radius: 16px;
}
.hero .image {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
}
.image img {
    object-fit: cover;
    object-position: center;
}

