.text {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.title {
    font-weight: 500;
    font-size: 14px;
}
.description {
    font-size: 12px;
    max-width: 80%;
    color: #ccc;
}
.container {
    display: flex;
    width: 100%;
    background-color: var(--midnight);
    padding: 1rem;
    border: 1px solid var(--midnight-border);
    border-radius: 8px;
    align-items: center;
}
.switch {
    min-width: calc(48px);
    height: 28px;
    border-radius: calc(32px/2);
    background-color: var(--midnight-border);
    display: flex;
    align-items: center;
    transition: all 200ms cubic-bezier(.35,.17,.3,.86);
    cursor: pointer;
    margin-left: auto;
}
.active, .unactive {
    height: 28px;
    width: 28px;
    position: relative;
    border-radius: 50%;
    transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    scale: .8;
}
.switch:has(.active) {
    background-color: var(--primary-dark);
}
.active {
    translate: 20px 0px;
    background-color: rgb(246, 241, 255);
}
.unactive {
    background-color: #777;
}
.detection {
    border-radius: 50%;
    background-color: transparent;
    scale: 3;
    height: 25px;
    width: 25px;
    position: absolute;
}