.main {
    background-color: var(--background-75);
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-block: 2rem;

}
.container {
    background-color: var(--background-50);
    width: 100%;
    min-height: calc(100vh - var(--nav-height));
    display: flex;
    align-items: center;
    justify-content: center;
}