@media (prefers-color-scheme: light) {
  :root {
    --text-50: rgb(239, 231, 254);
    --text-100: rgb(223, 206, 253);
    --text-200: rgb(190, 158, 250);
    --text-300: rgb(158, 109, 248);
    --text-400: rgb(125, 60, 246);
    --text-500: rgb(93, 11, 244);
    --text-600: rgb(74, 9, 195);
    --text-700: rgb(56, 7, 146);
    --text-800: rgb(37, 5, 97);
    --text-900: rgb(19, 2, 49);
    --text-950: rgb(9, 1, 24);

    --background-50: rgb(238, 231, 254);
    --background-75: rgb(231, 218, 254);
    --background-100: rgb(220, 206, 253);
    --background-200: rgb(185, 157, 251);
    --background-300: rgb(150, 108, 249);
    --background-400: rgb(115, 59, 247);
    --background-500: rgb(81, 10, 245);
    --background-600: rgb(64, 8, 196);
    --background-700: rgb(48, 6, 147);
    --background-800: rgb(32, 4, 98);
    --background-900: rgb(16, 2, 49);
    --background-950: rgb(8, 1, 24);

    --primary-50: rgb(239, 234, 250);
    --primary-100: rgb(224, 213, 246);
    --primary-200: rgb(192, 171, 237);
    --primary-300: rgb(161, 130, 227);
    --primary-400: rgb(129, 88, 218);
    --primary-500: rgb(98, 46, 209);
    --primary-600: rgb(78, 37, 167);
    --primary-700: rgb(59, 28, 125);
    --primary-800: rgb(39, 18, 84);
    --primary-900: rgb(20, 9, 42);
    --primary-950: rgb(10, 5, 21);

    --secondary-50: rgb(235, 243, 250);
  --secondary-100: rgb(214, 232, 245);
  --secondary-200: rgb(173, 208, 235);
  --secondary-300: rgb(133, 185, 224);
  --secondary-400: rgb(92, 161, 214);
  --secondary-500: rgb(51, 138, 204);
  --secondary-600: rgb(41, 110, 163);
  --secondary-700: rgb(31, 83, 122);
  --secondary-800: rgb(20, 55, 82);
  --secondary-900: rgb(10, 28, 41);
  --secondary-950: rgb(5, 14, 20);

  --accent-50: rgb(255, 229, 245);
  --accent-100: rgb(255, 204, 235);
  --accent-200: rgb(255, 153, 216);
  --accent-300: rgb(255, 102, 196);
  --accent-400: rgb(255, 51, 177);
  --accent-500: rgb(255, 0, 157);
  --accent-600: rgb(204, 0, 126);
  --accent-700: rgb(153, 0, 94);
  --accent-800: rgb(102, 0, 63);
  --accent-900: rgb(51, 0, 31);
  --accent-950: rgb(26, 0, 16);


  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-50: rgb(9, 1, 24);
    --text-100: rgb(19, 2, 49);
    --text-200: rgb(37, 5, 97);
    --text-300: rgb(56, 7, 146);
    --text-400: rgb(74, 9, 195);
    --text-500: rgb(93, 11, 244);
    --text-600: rgb(125, 60, 246);
    --text-700: rgb(158, 109, 248);
    --text-800: rgb(190, 158, 250);
    --text-900: rgb(223, 206, 253);
    --text-950: rgb(239, 231, 254);

    --background-50: rgb(7, 1, 25);
    --background-75: rgb(10, 2, 32);
    --background-100: rgb(14, 2, 49);
    --background-200: rgb(29, 4, 98);
    --background-300: rgb(43, 5, 148);
    --background-400: rgb(58, 7, 197);
    --background-500: rgb(72, 9, 246);
    --background-600: rgb(109, 58, 248);
    --background-700: rgb(145, 107, 250);
    --background-800: rgb(182, 157, 251);
    --background-900: rgb(218, 206, 253);
    --background-950: rgb(237, 230, 254);

    --primary-50: rgb(10, 5, 21);
    --primary-100: rgb(20, 9, 42);
    --primary-200: rgb(39, 18, 84);
    --primary-300: rgb(59, 28, 125);
    --primary-400: rgb(78, 37, 167);
    --primary-500: rgb(98, 46, 209);
    --primary-600: rgb(129, 88, 218);
    --primary-700: rgb(161, 130, 227);
    --primary-800: rgb(192, 171, 237);
    --primary-900: rgb(224, 213, 246);
    --primary-950: rgb(239, 234, 250);

    --secondary-50: rgb(5, 14, 20);
    --secondary-100: rgb(10, 28, 41);
    --secondary-200: rgb(20, 55, 82);
    --secondary-300: rgb(31, 83, 122);
    --secondary-400: rgb(41, 110, 163);
    --secondary-500: rgb(51, 138, 204);
    --secondary-600: rgb(92, 161, 214);
    --secondary-700: rgb(133, 185, 224);
    --secondary-800: rgb(173, 208, 235);
    --secondary-900: rgb(214, 232, 245);
    --secondary-950: rgb(235, 243, 250);
  
    --accent-50: rgb(26, 0, 16);
    --accent-100: rgb(51, 0, 31);
    --accent-200: rgb(102, 0, 63);
    --accent-300: rgb(153, 0, 94);
    --accent-400: rgb(204, 0, 126);
    --accent-500: rgb(255, 0, 157);
    --accent-600: rgb(255, 51, 177);
    --accent-700: rgb(255, 102, 196);
    --accent-800: rgb(255, 153, 216);
    --accent-900: rgb(255, 204, 235);
    --accent-950: rgb(255, 229, 245);

  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overscroll-behavior:none;
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.white {
  filter: none;
}
.invert {
  filter: invert(15%);
}
.contrast {
  filter: none;
}
@media (prefers-color-scheme: light) {
  .white {
    background: var(--background-400);
  }
  .invert {
    filter: invert(75%);
  }
  .contrast {
    filter: invert(90%);
  }
}

