.container {
    display: flex;
    gap: 16px;
    position: relative;
    height: 100%;
    align-items: center;
}
.modal {
    display: flex;
    flex-direction: row;
    width: inherit;
    position: fixed;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    pointer-events: fill;
    background-color:rgba(0,0,0,.5);
    transition: 500ms  cubic-bezier(0.075, 0.82, 0.165, 1) all;
}
.backdrop {
    width: 100%;
    display: flex;
    overflow: hidden;
    pointer-events:all;
    /* backdrop-filter: blur(10px); */
    z-index: 1;
}
.side {
    background-color: var(--background-50);
    max-width: 240px;
    width: 100%;
    height: 100%;
    min-height: inherit;
    box-shadow: -4px 0px 16px black;
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 250ms cubic-bezier(.35,.17,.3,.86);
}

.header {
    width: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header img {
    object-fit: contain;
    width: 100px;
}
.links {
    padding: 6px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.active, .inactive {
    padding: 6px 12px;
    width: 100%;
    font-size: 18px;
    transition: all 250ms cubic-bezier(.35,.17,.3,.86);
    border: 1px solid var(--background-100);
    border-radius: 6px;
}
.active {
    color: var(--primary-500);
    font-weight: 700;
}
.inactive {
    border-color: transparent;
}